.new{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border-bottom: 1px solid gray;
}

.new .kiri{
    display: flex;
    align-items: center;
    gap: 15px;
}

.new .kanan{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.batalkan{
    display: flex;
    justify-content: center;
    width: 80px;
    height: 35px;
    padding-top: 5px;
    border-radius: 5px;
    background-color: rgb(207, 207, 207);
    border: none;
    color: black;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

.cerita{
    margin: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card{
    width: auto;
    height: auto;
}

.detail{
    padding: 20px;
    width: 280px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.detail1{
    padding-top: 20px;
    border-bottom: 2px solid;
}

@media only screen and (max-width: 768px) {
    
}