body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.welcome{
    display: flex;
    flex-direction: column;
}

.sambutan{
    background-color: rgb(131, 195, 228);
    padding: 50px;
    color: white;
}

.iklan{
    margin-left: 40px;
    margin-right: 40px;
}

.wave {
    overflow: hidden;
    fill: rgb(131, 195, 228);
    width: 100%;
    height: 170px;
}

.recom{
    margin: 30px;
    width: 300px;
}

.recom h3{
    font-weight: bold; 
}

.cerita h5, p{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 768px) {
   
}





















