body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.folder{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 10px;
}

.button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #FA812F;
}

.button:hover{
    background-color: #FFB22C;
}
