body{
    font-family: "Quicksand", sans-serif;
}

.bawah{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.btn-group{
    border: 1px solid rgb(232, 232, 232);
}

.cari button{
    background-color: #FA812F;
    width: 50px;
    height: 30px;
    border-radius: 5px;
}

.cari button:hover{
    background-color: #FFB22C;
}

.hasil{
    max-width: 1000px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 30px 0 30px 30px;
    margin: 0 auto;
    gap: 20px;
    border-radius: 5px;

    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.cover img{
    width: 200px;
    min-width: 100px;
    height: auto;
    border-radius: 5px;

    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.isi{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 5px;
}

.judul p{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 50px;
}

.status{
    display: flex;
    padding: 0 0 0 10px;
    height: 20px;
    background-color: green;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 70px;
    border-radius: 20px;
}

.detail{
    display: flex;
    gap: 20px;
}

.icon{
    display: flex;
    gap: 5px;
    height: 20px;
    font-size: 13px;
}

.angka{
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    height: 5px;
}

.deskripsi{
    width: 100%;
    max-width: 800px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 20px;

    font-size: 14px;
}

@media only screen and (max-width: 768px){
    .hasil{
        width: 600px;
    }

    .judul p{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 45px;
    }

    .angka{
        height: 15px;
    }

    .deskripsi{

        font-size: 13px;
    }
   
}


