.header {
    background: white;
    padding: 12px 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 100;
}


.kanan, .kiri{
    display: flex;
    align-items: center;
    gap: 25px;
}
.menu{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    gap: 35px;
}

.menu .nav-link {
    text-decoration: none;
    color: #3a57e8;
    font-weight: 500;
    padding: 0;
}

.menu i, .kanan i{
    font-size: 22px;
    cursor: pointer;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #3a57e8;
}

.profile img {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #3a57e8;
    cursor: pointer;
    transition: 0.2s;
}

.profile img:hover {
    transform: scale(1.07);
}

.recom h2{
    padding-left: 20px;
    font-size: 25px;
}

.recom-isi{
   display: flex;
   flex-direction: row; 
   gap: 20px;
   padding-left: 20px;
   padding-right: 20px;
   overflow-x: auto;
   scrollbar-width: none; 
}

.recom-isi .card{
    flex-shrink: 0;
    width: 200px;
    height: 290px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 20px;
}

.row .card{
    flex-shrink: 0;
    width: 200px;
    height: 290px;
}

.filter{
    display: flex;
    justify-content: space-between;
}

.filter select{
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    appearance: none;
}











